@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-image: url(http://images/dashboard/imagePlaceholder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 79px;
    margin-top: 113px;
    width: 211px;
    height: 167px;
    flex-direction: column
  }
  .image0row0 {
    display: flex;
    margin-left: 76px;
    margin-top: 97px;
    width: 1px;
    height: 16px
  }
  .style1 {
    width: 1px;
    height: 100%
  }
  .style2,
  .style3 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: .875em;
    margin-left: 126px;
    margin-top: 71px;
    height: 14px
  }
  .style3 {
    margin-left: 81px;
    margin-top: 73px;
    height: 48px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-image: url(http://images/dashboard/imagePlaceholder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 162px;
    margin-top: 231px;
    width: 432px;
    height: 342px;
    flex-direction: column
  }
  .image0row0 {
    display: flex;
    margin-left: 156px;
    margin-top: 199px;
    width: 2px;
    height: 33px
  }
  .style1 {
    width: 2px;
    height: 100%
  }
  .style2,
  .style3 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 1.792em;
    margin-left: 258px;
    margin-top: 145px;
    height: 29px
  }
  .style3 {
    margin-left: 166px;
    margin-top: 150px;
    height: 98px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-image: url(http://images/dashboard/imagePlaceholder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 194px;
    margin-top: 277px;
    width: 518px;
    height: 410px;
    flex-direction: column
  }
  .image0row0 {
    display: flex;
    margin-left: 186px;
    margin-top: 238px;
    width: 2px;
    height: 39px
  }
  .style1 {
    width: 2px;
    height: 100%
  }
  .style2,
  .style3 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 2.1466666666666665em;
    margin-left: 309px;
    margin-top: 174px;
    height: 34px
  }
  .style3 {
    margin-left: 199px;
    margin-top: 179px;
    height: 118px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-image: url(http://images/dashboard/imagePlaceholder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 253px;
    margin-top: 362px;
    width: 675px;
    height: 534px;
    flex-direction: column
  }
  .image0row0 {
    display: flex;
    margin-left: 243px;
    margin-top: 310px;
    width: 3px;
    height: 51px
  }
  .style1 {
    width: 3px;
    height: 100%
  }
  .style2,
  .style3 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 2.8000000000000003em;
    margin-left: 403px;
    margin-top: 227px;
    height: 45px
  }
  .style3 {
    margin-left: 259px;
    margin-top: 234px;
    height: 154px
  }
}